---
shorttitle: Guide
slug: guide
title: Reader's Guide
---

<p>
	This Reader's Guide is presented to give readers a highly-structured overview of the content contained in this encyclopædia, by breaking it up into seven broad areas of knowledge and then further into fields and branches of study.
	It is not a comprehensive list of the articles available through this encyclopædia (for that, see the {% include link.html from=site.general of="index" %}), but it should be sufficient to get readers started in whichever subject-area they see fit to expore.

<nav id="nature">
	{% include heading.html level=3 section="nature" text="The Sevensi natural setting" %}

	<nav id="nature-overview">
		{% include heading.html level=4 section="nature-overview" text="Overview of the land and its people" %}

		<nav id="nature-general">
			{% include heading.html level=5 section="nature-general" text="General articles" %}

			<ul>
				<li> {% include link.html from=site.entries of="Continent" %}
				<li> {% include link.html from=site.entries of="population" %}
			</ul>
		</nav>

		<nav id="climate-phenomena">
			{% include heading.html level=5 section="climate-phenomena" text="Climate and natural phenomena" %}

			<ul>
				<li> {% include link.html from=site.entries of="climate" %}
				<li> {% include link.html from=site.entries of="earthquakes" %}
				<li> {% include link.html from=site.entries of="hot_springs" %}
				<li> {% include link.html from=site.entries of="hurricanes" %}
				<li> {% include link.html from=site.entries of="volcanoes" %}
			</ul>
		</nav>
	</nav>

	<nav id="geography">
		{% include heading.html level=4 section="geography" text="Geography" %}

		<nav id="regions">
			{% include heading.html level=5 section="regions" text="Major regions" %}
		</nav>

		<nav id="landmarks">
			{% include heading.html level=5 section="landmarks" text="Landmarks" %}
		</nav>

		<nav id="water">
			{% include heading.html level=5 section="water" text="Rivers and bodies of water" %}
		</nav>

		<nav id="islands">
			{% include heading.html level=5 section="islands" text="Important islands" %}
		</nav>
	</nav>

	<nav id="plants-animals">
		{% include heading.html level=4 section="plants-animals" text="Plants and animals" %}

		<nav id="plants">
			{% include heading.html level=5 section="plants" text="Plants" %}
		</nav>

		<nav id="animals">
			{% include heading.html level=5 section="animals" text="Animals" %}
		</nav>
	</nav>
</nav>

<nav id="history">
	{% include heading.html level=3 section="history" text="History" %}

	<nav id="history-overview">
		{% include heading.html level=4 section="nature-overview" text="Overview of Sevensi history" %}

		<nav id="history-general">
			{% include heading.html level=5 section="history-general" text="General articles" %}
		</nav>

		<nav id="periods">
			{% include heading.html level=5 section="periods" text="Periods" %}
		</nav>

		<nav id="dynasties">
			{% include heading.html level=5 section="dynasties" text="Dynasties" %}
		</nav>
	</nav>

	<nav id="prehistory-archaeology">
		{% include heading.html level=4 section="prehistory-archaeology" text="Prehistory and Archæology" %}

		<nav id="prehistory">
			{% include heading.html level=5 section="prehistory" text="Prehistory" %}
		</nav>

		<nav id="archaeology">
			{% include heading.html level=5 section="archaeology" text="Archaeology" %}
		</nav>

		<nav id="protohistory">
			{% include heading.html level=5 section="protohistory" text="Protohistory" %}
		</nav>
	</nav>

	<nav id="classical">
		{% include heading.html level=4 section="classical" text="The Classical period" %}
	</nav>
</nav>

<nav id="society">
	{% include heading.html level=3 section="society" text="Society" %}
	<i>Forthcoming.</i>
</nav>

<nav id="economy">
	{% include heading.html level=3 section="economy" text="Economy" %}
	<i>Forthcoming.</i>
</nav>

<nav id="arts">
	{% include heading.html level=3 section="arts" text="Arts and literature" %}
	<i>Forthcoming.</i>
</nav>

<nav id="culture">
	{% include heading.html level=3 section="culture" text="Language and culture" %}
	<i>Forthcoming.</i>
</nav>

<nav id="life">
	{% include heading.html level=3 section="life" text="Daily life" %}
	<i>Forthcoming.</i>
</nav>
