---
shorttitle: Introduction
slug: introduction
title: Introduction to the Encyclopædia
---

<p>
	It is recommended that you view this site in <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, as it tends to have the best non-Western language support and localization features.
	However, it should run comfortably in any browser.

<section id="features">
	{% include heading.html level=3 section="features" text="Principal features" %}

	<section id="text">
		{% include heading.html level=4 section="text" text="Main text" %}

		<p>
			This text is a continual work-in-progress.
			At this moment, it contains <b>{% if site.entries.size > 10000 %}{{ site.entries.size | divided_by: 1000 }} {{ site.entries.size | modulo: 1000 }}{% else %}{{ site.entries | size }}{% endif %}</b> entries categorized into <b>{% if site.topics.size > 10000 %}{{ site.topics.size | divided_by: 1000 }} {{ site.topics.size | modulo: 1000 }}{% else %}{{ site.topics | size }}{% endif %}</b> topics.
			As the Sevensi language and culture are under constant development, these numbers are likely to increase in the future.
	</section>

	<section id="navigation">
		{% include heading.html level=4 section="navigation" text="Navigational aids" %}

		<p>
			The {% include link.html from=site.general of="index" %} page provide a simple and easy means of locating the article you are looking for—if you already know its title.
			However, for more general browsing, the {% include link.html from=site.general of="topics" %} page is likely to be of more use, as it collects multiple pages on a particular topic together.
			Finally, the {% include link.html from=site.general of="guide" %} provides a comprehensive overview for newcomers of the various areas of knowledge this encyclopædia offers.
		<p>
			In addition to these broad features, each entry also comes equipped with a <i>Related entries</i> section and is extensively hyperlinked.
			Consequently, once a reader finds themselves on an article associated with their topic, it is not hard to gather more information about the various concepts or ideas discussed.
	</section>
</section>

<section id="conventions">
	{% include heading.html level=3 section="conventions" text="Editorial conventions" %}

	<section id="titles">
		{% include heading.html level=4 section="titles" text="Entry titles" %}

		<p>
			Where possible, the English equivalents for entry titles have been given.
			Where no English equivalent sufficiently describes the material, romanized versions of the Sevensi words are given.
			In these cases, possible English translations are provided in parentheses where appropriate.
		<p>
			To aid students and scholars of the Sevensi language, the equivalent Sevensi word or phrase for each title is also provided, both in romanized characters and in the native Sevensi script.
			In instances where the title is already in romanized Sevensi, only the script version is provided.
		<p>
			Articles whose subject-matter may not be apparent to an uninformed reader solely from the title are also given a subtitle, to help readers more easily identify the content of the article at a glance.
	</section>

	<section id="romanization">
		{% include heading.html level=4 section="romanization" text="Romanization" %}

		<p>
			Sevensi words are rendered using the usual system of Sevensi romanization, using the letters <i>æ</i> for <i>ae</i>, <i>ƛ</i> for <i>tl</i>, and <i>å</i> for <i>ao</i>.
			The uppercase form of <i>ƛ</i> is rendered as <i>Λ̷</i> where it appears.
	</section>

	<section id="names">
		{% include heading.html level=4 section="names" text="Personal names" %}

		<p>
			Sevensi personal names are comprised of two parts: a given name (given to one by their parents at birth), and a style (chosen upon one's coming of age).
			When both of these are given together, this encyclopædia follows the convention of providing the given name second; thus, a person with the given name <i>Jo</i> and the style <i>Våci-va</i> will be identified as <i>Våci-va Jo</i>.
			The interstitial <i>né</i>  or <i>née</i>, which is sometimes placed between romanized Sevensi styles and given names, is not employed in this text.
	</section>

	<section id="numbers">
		{% include heading.html level=4 section="numbers" text="Numbers" %}

		<p>
			Sevensi counting is done duodecimally; this has been converted into a decimal form where possible with the original dozenal number provided in parentheses.
			The characters <i>ꞇ</i> and <i>ɛ</i> are used as numerals for <i>ten</i> and <i>eleven</i>, respectively, and the <i>-doze</i> system of numbering is used for the anglicization of dozenal words where necessary.
			For example, the number <i>elevendy one</i> would be written as 133 (ɛ1<sub>doz.</sub>).
	</section>

	<section id="dates">
		{% include heading.html level=4 section="dates" text="Dates" %}

		<aside>Information on Sevensi dates to come.</aside>
	</section>

	<section id="encoding">
		{% include heading.html level=4 section="encoding" text="Fonts and encoding" %}

		<p>
			The Sevensi script is encoded into the Unicode Private-Use Area via the <a href="https://github.com/langdev-project/langdev-unicode"><cite>LANGDEV in Unicode</cite></a> specification.
			However, without proper rendering support, you may see question marks, boxes, or other symbols instead of Sevensi characters.
			The <a href="https://github.com/langdev-project/unifont-langdev"><cite>Unifont LANGDEV</cite></a> font may be used to provide preliminary Sevensi character support.
		<p>
			This site is designed to use the fonts <a href="http://junicode.sourceforge.net/"><cite>Junicode</cite></a> and <a href="http://adobe-fonts.github.io/source-sans-pro/"><cite>Source Sans Pro</cite></a>, and will take advantage of them if they are installed on your computer.
			However, if they are not found it will fallback to your browser's default serif and sans-serif fonts rather than attempt a download.
	</section>
</section>
