---
shorttitle: Introduction
slug: introduction
title: Introduction to the Encyclopædia
---

<section id="features">
	{% include heading.html level=3 section="features" text="Principal features" %}

	<section id="text">
		{% include heading.html level=4 section="text" text="Main text" %}
	</section>

	<section id="navigation">
		{% include heading.html level=4 section="navigation" text="Navigational aids" %}
	</section>

	<section id="supplements">
		{% include heading.html level=4 section="supplements" text="Supplementary materials" %}
	</section>
</section>

<section id="conventions">
	{% include heading.html level=3 section="conventions" text="Editorial conventions" %}

	<section id="titles">
		{% include heading.html level=4 section="titles" text="Entry titles" %}

		<p>
			Where possible, the English equivalents for entry titles have been given.
			Where no English equivalent sufficiently describes the material, romanized versions of the Sevensi words are given.
			In these cases, possible English translations are provided in parentheses where appropriate.
		<p>
			To aid students and scholars of the Sevensi language, the equivalent Sevensi word or phrase for each title is also provided, both in romanized characters and in the native Sevensi script.
			In instances where the title is already in romanized Sevensi, only the script version is provided.
		<p>
			Articles whose subject-matter may not be apparent to an uninformed reader solely from the title are also given a subtitle, to help readers more easily identify the content of the article at a glance.
	</section>

	<section id="romanization">
		{% include heading.html level=4 section="romanization" text="Romanization" %}

		<p>
			Sevensi words are rendered using the usual system of Sevensi romanization, using the letters <i>æ</i> for <i>ae</i>, <i>ƛ</i> for <i>tl</i>, and <i>å</i> for <i>ao</i>.
			The uppercase form of <i>ƛ</i> is rendered as <i>Λ̷</i> where it appears.
	</section>

	<section id="names">
		{% include heading.html level=4 section="names" text="Personal names" %}

		<p>
			Sevensi personal names are comprised of two parts: a given name (given to one by their parents at birth), and a style (chosen upon one's coming of age).
			When both of these are given together, this encyclopædia follows the convention of providing the given name second; thus, a person with the given name <i>Jo</i> and the style <i>Våci-va</i> will be identified as <i>Våci-va Jo</i>.
			The interstitial <i>né</i>  or <i>née</i>, which is sometimes placed between romanized Sevensi styles and given names, is not employed in this text.
	</section>

	<section id="numbers">
		{% include heading.html level=4 section="numbers" text="Numbers" %}

		<p>
			Sevensi counting is done duodecimally; this has been converted into a decimal form where possible with the original dozenal number provided in parentheses.
			The characters <i>ꞇ</i> and <i>ɛ</i> are used as numerals for <i>ten</i> and <i>eleven</i>, respectively, and the <i>-doze</i> system of numbering is used for the anglicization of dozenal words where necessary.
			For example, the number <i>elevendy one</i> would be written as 133 (ɛ1<sub>doz.</sub>).
	</section>

	<section id="dates">
		{% include heading.html level=4 section="dates" text="Dates" %}

		<aside>To come.</aside>
	</section>
</section>
