{% assign topics = "" | split: "" -%}
{% for slug in page.topics -%}
	{% assign topic = site.topics | where: "slug", slug | first -%}
	{% if topic %}{% assign topics = topics | push: topic %}{% endif -%}
{% endfor -%}
{% assign topics = topics | sort_natural: "title" -%}

{% if topics.size > 0 %}<footer><nav id="topics">{% for topic in topics %}<a class="local topic" href="{{ topic.url | prepend: site.baseurl }}">#{{ topic.title }}{% comment %} Note: We DON'T want to use title.html here. {% endcomment %}</a>{% endfor %}</nav></footer>{% endif -%}
