<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include meta.html %}

{% include header.html %}

<main><article>

{% include subheader.html %}
{% include associated.html %}

{{ content }}{% comment %} (Ends in newline) {% endcomment %}
{% include entries.html id="subtopics" from=site.topics title="Subtopics" %}
{% include entries.html id="entries" from=site.entries title="Related entries" %}

{% include topics.html %}

</article></main>

{% include footer.html %}
